<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ak.app.mapper.faqmapper">
<!-- 등록  -->
<select id="getLists" resultType="ak.app.entity.FAQ" parameterType="ak.app.entity.Criteria">
select * from faq order by desc
</select>
</mapper>