
/* login */

.login.mobile {height:100%; background:url(img/m_login_bg.png);}
.login.mobile .box {box-shadow: none;background: none;width: 100%; margin: 0;left: 0;top: 20%;}
.login.mobile .login_logo {padding-bottom:50px;}

/* // login */

select {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	height: 100%;
	width: 100%;
	background-image: url('../css/img/slt_arrow_m.png');
	padding-right: 40px;
    background-position: calc(100% - 15px);
	background-repeat: no-repeat;
	background-size: 12px 10px;
	float: left;
}

select:focus {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	height: 100%;
	width: 100%;
	background-image: url('../css/img/slt_arrow_m.png');
	padding-right: 40px;
    background-position: calc(100% - 15px);
	background-repeat: no-repeat;
	background-size:  12px 10px;
}

.tb_bottom select {background-position: calc(100% - 5px);padding:0 10px 0 0;}
.tb_bottom select:focus {background-position: calc(100% - 5px);padding:0 10px 0 0;}

.m_cont input {text-align:center;}
.m_cont select {text-align-last:center;}
input[type="file"] {display:none;}
.file input[type="file"] {display:block;line-height: 40px;}
.m_cont .ul_list ul li.empty {text-align:center;border:0}

.m_hd {height: 50px;border-bottom:1px solid #f1f3f5;display: block;}
.m_hd .logo {float: left; height: 100%;padding: 10px 15px}
.m_hd .logo a img{width:120px}
.m_hd a.mu_btn {float: right;height: 100%;line-height: 55px; width: 50px;padding: 0;}
.m_hd a.mu_btn img {width:17px}
.m_hd .mu_list {position: absolute; height: 100%;right: 0;width: 260px;z-index: 111;background: #fff;}

.m_menu {position: fixed;top: 0;left: 0;width: 100%;height: 100%;display: none;z-index: 101;}
.m_menu .overlay {background: #000;opacity: 0.5;width: 100%;height: 100%;position: absolute; z-index:1}
.mu_list .mu_hd {height:50px; line-height:50px;background:#00a2ea;}
.mu_list .mu_hd * {color:#fff;}
.mu_list .mu_hd p {float:left;padding-left:15px}
.mu_list .mu_hd p span {font-weight:bold;}
.mu_list .mu_hd a {float:right;width:50px;height:50px;text-align: center; }
.mu_list .mu_hd a i {font-size:1.5em;}
.mu_list ul {}
.mu_list ul li {border-bottom:1px solid #cceefa;height:50px;}
.mu_list ul li a {padding-left:15px;line-height:50px;font-weight:bold;color:#555}
.mu_list a.logout {float:right;height:50px; line-height:50px;padding-right:15px}

.m_cont {padding-top: 50px;height: 100%;}
.m_cont > div {height:100%;}
.m_cont .top {padding:20px 15px ; float:left; width:100%;border-bottom:1px solid #f1f3f5;position:relative;height:80px}
.m_cont .top .btn {float:left;width:80px;height:40px; line-height:40px; padding:0;}
.m_cont .top .title {float:left;width:calc(100% - 160px);height:40px;padding:0;display: flex; align-items: center;justify-content: center;font-size: 20px;font-weight: bold;}
.m_cont .tb {padding:10px 15px 10px 15px;height: calc(100% - 81px);}
.m_cont .tb_scroll {height:calc(100% - 95px)} 

.m_cont .top_area {padding:0 10px;border-bottom: 1px solid #f1f3f5;position:relative;}
.m_cont .top_tit {height:60px; line-height:60px;}
.m_cont .top_tit span {font-weight:bold}
.m_cont .top_area .back {width: auto;position: absolute; right: 10px; top: 10px;}
.m_cont .top_area .back i {margin-right:0}

.m_cont .btn i {margin-right:5px;margin-left:0}
.write .btn_area .btn.save {float:right}

/* .dialog {width: 100%;height: 100%;display: none;} */
.m_cont .m_search {display:none;position: fixed;top: 50px;left: 0;width:100%;height: 100%; z-index: 101;}
.m_cont .m_search .overlay {/* background: #000;opacity: 0.5; */width: 100%;height: 100%;position: absolute; z-index:11}
.m_cont .m_search .sch_box {background: #fff;padding:0 10px;position: absolute; left:0;top: 0px;box-shadow:0px 20px 10px -10px #ccc; z-index: 102;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;}
.m_cont .m_search ul {width:100%}
.m_cont .m_search ul li {float:left;width:100%;padding:10px 0; border-top:1px solid #f1f3f5;}
.m_cont .m_search ul li p {width: 30%;float:left; height: 40px;line-height: 40px;text-align: center; background: #eee; margin-right:10px}
.m_cont .m_search ul li div {height:40px; line-height:40px;width:calc(70% - 10px);float:left }
.m_cont .m_search ul li div.start {float:left;width:calc(35% - 7.5px);margin-right:5px}
.m_cont .m_search ul li div.end {float:left;width:calc(35% - 7.5px)}
/* .m_cont .m_search ul li div input {padding:0} */
.m_cont .m_search .sch_inp {position:relative}
.m_cont .m_search a[data-dialog] {width:30px; height:30px; line-height:30px; padding:0; position:absolute; right:5px; top:3px; background:#678496}
.m_cont .m_search ul li:last-child {border-bottom:1px solid #f1f3f5;}
.m_cont .m_search .btn_area {display: flex;align-items: center; justify-content: center;padding:20px 0}
.m_cont .m_search .btn {width:auto;padding: 0 20px;}


.m_cont .tb_scroll th {background:#fff;border-bottom: 2px solid #003050;}
table td a {width: 100%; display: block;}
table tbody tr:hover {background:none}
/*input[type="date"]:after {width:30px; height:30px; background:#678496 url('../css/img/date.png') center center/auto;background-repeat: no-repeat;}
input[type="datetime-local"]:after {width:30px; height:30px; background:#678496 url('../css/img/date.png') center center/auto;background-repeat: no-repeat;}*/

input[type="date"] {display:flex;align-items: center;justify-content: center;padding-right:30px;appearance: none;}
input[type="date"]:after {width:30px; height:30px; background:center / 40% url('../css/img/date.png') #678496 no-repeat;}

input[type="datetime-local"] {display:flex;align-items: center;justify-content: center;padding-right:30px;appearance: none;}
input[type="datetime-local"]:after { background:center / 40% url('../css/img/date.png') #678496 no-repeat}

.tb_bottom {padding-top: 10px; float: left;width:100%;margin-top: 0; height: 95px;}
.tb_bottom .slt {width: 110px; height: 40px; line-height: 40px; background: #f7f7f7;float:left;top: 10px;}
.tb_bottom .count {float:right;height:40px; line-height:40px;top: 10px;}
.tb_bottom .paging {float:left; width:100%;display: flex; justify-content: center; align-items: center;height:30px; line-height:30px;top: calc(50% + 20px);}
.tb_bottom .paging li {width:auto;margin-right: 5px}
.tb_bottom .paging li:last-child {margin-right:0;}
.tb_bottom .paging li a {width:30px;text-align:center;height:30px; line-height:30px;color: #b9b9b9;}
.tb_bottom .paging li.active a {font-weight:bold;color: #34b5ee;}

.m_cont .ul_style * {font-size:12px}
.m_cont .ul_style ul li {float:left;width:100%;margin-right:0;margin-bottom:5px}
.m_cont .ul_style ul li p {width:30%;height:40px; line-height:40px;float: left;background: #f7f7f7;text-align: center;margin-right: 10px;}
.m_cont .ul_style ul li div {float:left;height:40px; line-height:40px;width: calc(70% - 10px);border-bottom: 1px solid #f2f3f5;}
.m_cont .ul_style ul li:nth-child(odd) {margin-right:5px}

.write .top .title {width:100%}
.write .top .btn {float:right;}
.write .top .btn.del {float:left}
.write .body {float: left; width: 100%; padding: 10px;height:calc(100% - 60px)}
.write .body form {height:100%}
.write .ul_style {height:calc(100% - 60px)}
.write .ul_style ul {height:100%}
.write .ul_style ul li {width:100%; float:left;margin-bottom: 5px; height: 40px;}
.write .ul_style ul li p {float: left; height: 100%;display: flex;justify-content: center;align-items: center;width: 100px; background: #f7f7f7;text-align: center; margin-right:10px;}
.write .ul_style ul li div {width:calc(100% - 110px);float:left;height: 40px;line-height: 40px; position: relative;border-bottom: 2px solid #f2f3f5;}
.write .ul_style .sch_inp > input {padding-right: 40px;}
.write .ul_style ul li .sch_inp .btn {width: 30px;height: 30px;line-height: 30px;padding: 0; position: absolute;  right: 5px; top: 3px;background: #678496;}
.write .ul_style ul li .sch_inp .btn i {margin-right:0}
.write .ul_style ul li.textarea {height:calc(100% - 240px)}
.write .ul_style ul li.textarea div {height:100%;border-bottom:0;border:2px solid #f2f3f5}
.write .ul_style ul li.textarea textarea {height:100%;border: 0;}
.write .ul_style ul li.img {margin-top: 0; width: 100%; height: 150px;}
.write .ul_style ul li.img p {width:100px;height: 100%; display: flex; justify-content: center; align-items: center;}
.write .ul_style ul li.img div {width: calc(50% - 57.5px); height: 72.5px;margin-bottom: 5px; margin-right: 5px;float: left;border:2px solid #f2f3f5; overflow:hidden}
.write .ul_style ul li.img div:nth-child(3),
.write .ul_style ul li.img div:nth-child(5) {margin-right:0}
.write .ul_style ul li.img label {width: 30px; height: 30px; background: #678496;/*  opacity: 0.6;  */position: absolute;top: calc(50% - 15px); left: calc(50% - 15px);display: flex;justify-content: center; align-items: center;cursor: pointer;}
.write .ul_style ul li.img label i {font-size: 14px;color: #fff;height:100%; line-height:30px;}
.write .ul_style ul li.img div p {background: none;height: auto;line-height: initial; margin: 0; position: absolute; top: calc(50% - -20px);left: calc(50% - 50px);}
.write .ul_style ul li.img div img {display:none; height:auto !important}
.write .ul_style ul li.img div .file_img {background:center / contain no-repeat}
.write .ul_style ul li.img div .file_del {display: none;position: absolute;top: 0px;right: 0px;height: auto;line-height: initial; background: #ccc; opacity: 0.8;width: 25px;height: 25px;}
.write .ul_style ul li.img div .file_del i {color: #fff;font-size: 25px;}
.write .ul_style ul li.img div.upload img {display:block;height: 100%; width: 100%;object-fit: cover;}
.write .ul_style ul li.img div.upload .file_del {display:inline-block;}
.write .ul_style ul li.img div.upload label {display:none}
.write .btn_area {float:left; width:100%; padding:10px 0}
.write .btn_area .btn {float:left;height:40px; line-height:40px}
.write .btn_area button.btn {margin-left:10px;float:right}
.write .btn_area .btn.del {float:left}

.m_ul_list {padding: 0 15px;float: left; width: 100%;height: calc(100% - 80px);}
.ul_list {float:left; width:calc(100% + 10px);padding:5px 0 0;height: calc(100% - 95px);overflow: scroll;overflow-x: inherit;}
.ul_list * {font-size:13px}
.ul_list ul li {float:left; width:100%;border: 1px solid #f1f3f5;padding: 5px 0; margin: 5px 0; border-radius: 20px;}
.ul_list ul li .count {float:left; width:50px;display: flex;justify-content: center; align-items: center; height: 80px;}
.ul_list ul li:last-child {margin-bottom:0}
.ul_list ul li a {float:left; width:calc(100% - 50px);padding:5px 5px 5px 0}
.ul_list ul li a div {float: left; width: 100%;display: flex;align-items: center;}
.ul_list ul li a div p {float:left;text-align:left;}
.ul_list ul li a div .line {float:left;width: auto; height: 12px;margin:4px 5px;border-right:2px solid #e2e2e2}
.ul_list ul li a .list_st1 {}
.ul_list ul li a .list_st2 {padding:5px 0}
.ul_list ul li a .list_st2 p {width: 100%;overflow: hidden; text-overflow: ellipsis;white-space: nowrap;font-weight:bold}
.ul_list ul li a .list_st3 {}

/* .write .btn_area.center {display: flex;justify-content: center; align-items: center} */
.tb .table .sch_inp {width: 100%; height: 40px;position: relative;}
.tb .table .sch_inp input[type="text"] {padding-right:40px}
.tb .table .sch_inp a.btn {color: #fff; border: 0; width: 30px; height: 30px;line-height: 30px;padding: 0;position: absolute; right: 5px;top:5px;background: #678496;}
.tb .table .sch_inp a.btn i {margin:0}
/*.tb .table_btn table {width:calc(100% - 40px)}*/
.tb .table_btn table .tb_btn {width: 40px;position: absolute;right: -40px;border-bottom: 0;padding-top: 2px; padding-left: 10px;background:none;}
.tb .table_btn table .tb_btn .btn {width:30px ;height:100%;padding: 0;background: #eee;color: #444;display: flex; align-items: center;justify-content: center;}
/* .tb table th,
.tb table td {height: 40px;line-height: 40px;margin-right: 5px; display: block;float: left;}
.tb table tr {border-bottom:0;margin-bottom:5px;display:block; float:left; width:100%} */
.emp_pop .emp_info .tb .tb_btn {width:30px;background:none;margin-right: 0;padding:0;border-bottom: 0;}

.write .wrap {float:left;width:100%}
.write .wrap > p {height: 40px; line-height: 40px;text-align: center;background: #eee; margin-bottom: 5px;}
.write .wrap > p.left {width: calc(100% - 40px);float: left;}
.write .wrap > p:after {content: "\EA77";font-family: 'remixicon'; margin-left: 5px; font-size: 1.5em;vertical-align: middle;}
.write .wrap > p.hide:after {content: "\EA4D";}
.write .wrap > p.hide ~ div {display:none;}
.write .wrap > .add_btn {width: 30px;padding: 0; float: right;margin-left: 10px;}

.m_notice_write .body .ul_style ul li {margin-right:0}

.m_board table th:nth-child(1) {width:50px}
.m_board_write .body .ul_style ul li {margin-right:0}

.m_broken .ul_list ul li a .list_st1 p {font-weight:bold;}
.m_broken .ul_list ul li a .list_st1 p:first-child {width:70%}
.m_broken .ul_list ul li a .list_st1 p:last-child {width:30%}
.m_broken .ul_list ul li a .list_st2 p {font-weight:normal;}
.m_broken .ul_list ul li a .list_st3 p {color:#aeaeae}
.m_broken .ul_list ul li a .list_st3 span {color:#aeaeae}

.m_broken_write .top .title {width: 100%;}
.m_broken_write .ul_style ul li {height:40px;margin-bottom: 5px;}
.m_broken_write .ul_style ul li div {height:40px;line-height:40px;text-align:center;}
.m_broken_write .ul_style ul li select {text-align:center;}
.m_broken_write .ul_style ul li.img {height:140px;}
.m_broken_write .ul_style ul li.img div {height:100%;width:calc(100% - 110px);margin-right: 0;}
.m_broken_write .tb .tb_1 td.tb_btn {height:80px}
.m_broken_write .tb .tb_1 tr:nth-child(3) th {background:#eee}
.m_broken_write .tb .tb_1 tr:nth-child(3) td:last-child a {background:#eee}
.m_broken_write .tb .tb_1 tr:nth-child(4) th {background:#eee}
.m_broken_write .tb .tb_1 tr:nth-child(4n+3) th {background:#eee}
.m_broken_write .tb .tb_1 tr:nth-child(4n+4) th {background:#eee}

.m_broken_write .tb .tb_2 th.tb_btn {height: 212px;}
.m_broken_write .tb .tb_2 tr:nth-child(n+6):nth-child(-n+10) th {background:#eee}
.m_broken_write .tb .tb_2 tr:nth-child(10n+6) th {background:#eee}
.m_broken_write .tb .tb_2 tr:nth-child(10n+7) th {background:#eee}
.m_broken_write .tb .tb_2 tr:nth-child(10n+8) th {background:#eee}
.m_broken_write .tb .tb_2 tr:nth-child(10n+9) th {background:#eee}
.m_broken_write .tb .tb_2 tr:nth-child(10n+10) th {background:#eee}
.m_broken_write .tb .tb_2 tr:nth-child(6) td:last-child a {background:#eee}
.m_broken_write .tb .tb_2 tr:nth-child(10n + 6) td:last-child a {background:#eee}

.m_broken_write .tb .tb_3 th.tb_btn {height: 341px;}
.m_broken_write .tb .tb_3 tr:nth-child(n+9):nth-child(-n+16) th {background:#eee}
.m_broken_write .tb .tb_3 tr:nth-child(16n+9) th {background:#eee}
.m_broken_write .tb .tb_3 tr:nth-child(16n+10) th {background:#eee}
.m_broken_write .tb .tb_3 tr:nth-child(16n+11) th {background:#eee}
.m_broken_write .tb .tb_3 tr:nth-child(16n+12) th {background:#eee}
.m_broken_write .tb .tb_3 tr:nth-child(16n+13) th {background:#eee}
.m_broken_write .tb .tb_3 tr:nth-child(16n+14) th {background:#eee}
.m_broken_write .tb .tb_3 tr:nth-child(16n+15) th {background:#eee}
.m_broken_write .tb .tb_3 tr:nth-child(16n+16) th {background:#eee}
.m_broken_write .tb .tb_3 tr:nth-child(9) td:last-child a {background:#eee}
.m_broken_write .tb .tb_3 tr:nth-child(16n + 9) td:last-child a {background:#eee}

.m_broken_write .tb .tb_4 th.tb_btn {height: 341px;}
.m_broken_write .tb .tb_4 tr:nth-child(n+9):nth-child(-n+16) th {background:#eee}
.m_broken_write .tb .tb_4 tr:nth-child(16n+9) th {background:#eee}
.m_broken_write .tb .tb_4 tr:nth-child(16n+10) th {background:#eee}
.m_broken_write .tb .tb_4 tr:nth-child(16n+11) th {background:#eee}
.m_broken_write .tb .tb_4 tr:nth-child(16n+12) th {background:#eee}
.m_broken_write .tb .tb_4 tr:nth-child(16n+13) th {background:#eee}
.m_broken_write .tb .tb_4 tr:nth-child(16n+14) th {background:#eee}
.m_broken_write .tb .tb_4 tr:nth-child(16n+15) th {background:#eee}
.m_broken_write .tb .tb_4 tr:nth-child(16n+16) th {background:#eee}
.m_broken_write .tb .tb_4 tr:nth-child(9) td:last-child a {background:#eee}
.m_broken_write .tb .tb_4 tr:nth-child(16n + 9) td:last-child a {background:#eee}


.m_work .ul_list ul li .count {width:40px;}
.m_work .ul_list ul li a {width:calc(100% - 40px);}
.m_work .ul_list ul li a .list_st1 p {font-weight:bold;}
.m_work .ul_list ul li a .list_st2 p {font-weight:normal;width:auto}
.m_work .ul_list ul li a .list_st3 p {color:#aeaeae}
.m_work .ul_list ul li a .list_st3 span {color:#aeaeae}

.m_work_write .ul_style ul li.textarea {height:200px}
.m_work_write .wrap .tb table {table-layout:fixed}
.m_work_write .tb table tr:nth-child(n+9):nth-child(-n+16) th {background:#eee}
.m_work_write .tb table tr:nth-child(16n+9) th {background:#eee}
.m_work_write .tb table tr:nth-child(16n+10) th {background:#eee}
.m_work_write .tb table tr:nth-child(16n+11) th {background:#eee}
.m_work_write .tb table tr:nth-child(16n+12) th {background:#eee}
.m_work_write .tb table tr:nth-child(16n+13) th {background:#eee}
.m_work_write .tb table tr:nth-child(16n+14) th {background:#eee}
.m_work_write .tb table tr:nth-child(16n+15) th {background:#eee}
.m_work_write .tb table tr:nth-child(16n+16) th {background:#eee}
.m_work_write .tb table tr:nth-child(9) td:last-child a {background:#eee}
.m_work_write .tb table tr:nth-child(16n + 9) td:last-child a {background:#eee}

.wrap .tb {padding:0}
.wrap .tb * {font-size: 12px;}
.wrap .tb table {table-layout: auto;margin-bottom:5px}
/*
.wrap .tb th,
.wrap .tb td {display:block;float:left}
*/
.wrap .tb select {text-align:center;}

/*
.wrap .tb th {width:35%;height: 40px; line-height: 40px;background: #f7f7f7;font-weight:normal;margin-bottom:3px;white-space: nowrap;}
.wrap .tb th:nth-last-child(3) {margin-bottom:0}
.wrap .tb td:nth-last-child(2) {margin-bottom:0}
.wrap .tb td {width:calc(65% - 10px);margin-bottom:3px;margin-left:10px}
.wrap .tb tr {margin-bottom:10px;display:block;float:left;}
*/

.wrap .tb table {border-collapse:separate;border-spacing: 0 2px;}
.wrap .tb tr th {background:#f7f7f7; }
.wrap .tb tr th .btn {background:#eee}
.wrap .tb tr .del_btn {background-color:#f7f7f7; height:100%; display:flex; justify-content:center; align-items:center} 

/*
.wrap .tb th.tb_btn .btn {background: #f7f7f7;}
.wrap .tb .tb_1 th.tb_btn {height: 79px;}
.wrap .tb table th.tb_btn .btn {height:100%; display: flex;justify-content: center;align-items: center;font-size: 1.5em;}
*/
.wrap .tb tr.empty {width:100%}
.wrap .tb tr.empty td {width:100%}

.m_driving_log .ul_list ul li .count {width:40px;}
.m_driving_log .ul_list ul li a {width:calc(100% - 40px);}
.m_driving_log .ul_list ul li a .list_st1 p {font-weight:bold;}
.m_driving_log .ul_list ul li a .list_st2 p {font-weight:normal;width:auto}
.m_driving_log .ul_list ul li a .list_st3 p {color:#aeaeae}
.m_driving_log .ul_list ul li a .list_st3 span {color:#aeaeae}

.m_drive_write .wrap .tb .tb_1 th.tb_btn {height: 341px;}
.m_drive_write .ul_style ul li.img {height:140px;}
.m_drive_write .ul_style ul li.img div {height:100%;width:calc(100% - 110px);margin-right: 0;}
.m_drive_write .ul_style ul li.img {height:140px;}
.m_drive_write .ul_style ul li.img div {height:100%;width:calc(100% - 110px);margin-right: 0;}
.m_drive_write .tb table tr:nth-child(n+9):nth-child(-n+16) th {background:#eee}
.m_drive_write .tb table tr:nth-child(16n+9) th {background:#eee}
.m_drive_write .tb table tr:nth-child(16n+10) th {background:#eee}
.m_drive_write .tb table tr:nth-child(16n+11) th {background:#eee}
.m_drive_write .tb table tr:nth-child(16n+12) th {background:#eee}
.m_drive_write .tb table tr:nth-child(16n+13) th {background:#eee}
.m_drive_write .tb table tr:nth-child(16n+14) th {background:#eee}
.m_drive_write .tb table tr:nth-child(16n+15) th {background:#eee}
.m_drive_write .tb table tr:nth-child(16n+16) th {background:#eee}
.m_drive_write .tb table tr:nth-child(9) td:last-child a {background:#eee}
.m_drive_write .tb table tr:nth-child(16n + 9) td:last-child a {background:#eee}
.m_drive_write .tb table tr:nth-child(8n) {line-height:50px}

/* 모바일 팝업 */

.dialog .content {width:90%;height:90%;}
.dialog .top {padding:20px 10px}
.dialog .body {padding:0 10px}
.dialog .body .sch_inp input {padding-right: 40px;}

.dialog.basic .content {height:auto}
.dialog .content form {height:100%;}
.dialog .body ul li {width:100%;margin-bottom:0}
.dialog .body ul li .slt {width: 35%; margin-right: 10px;}
.dialog .body ul li .sch_inp {width:calc(65% - 10px)}
.dialog .body ul li .sch_inp input {padding-right:40px}
.dialog .tb {height: calc(100% - 40px); overflow: auto; padding-bottom: 10px;}
.dialog .tb .tb_scroll {height:calc(100% - 100px)}

.order .body {padding-bottom:20px}
.order .body .search li .slt {width:85px}
.order .body .search li .sch_inp {width:calc(100% - 95px)}
.order .body .search ul {width:calc(100% - 81px)}
.order .body .search .btn_area {width:auto;padding:0}
.order .body .search .btn_area .btn {margin-right:0}
.order .body .tb {height:calc(100% - 80px);}
.order .body .btn_area.type2 {padding:0}

#team_sch .content {width:90%;height:auto}
#team_sch .ul_style ul li p {width:85px}
#team_sch .ul_style ul li div {width:calc(100% - 90px)}

#car_sch .content {width:90%;height: auto;}

#person_sch .search ul li {margin-right:0}
#person_sch .search ul li div:last-child {width: calc(65% - 10px);}

#error_num_sch .search li > div:last-child{width:calc(100% - 140px)}
#error_num_sch div.pop_s2 {width: calc(100% - 40px)!important;}
#error_num_sch div.pop_s3 {width: calc(100% - 40px)!important;}

#storage_order .search ul {width:100%}

#equip_sch .content {width: 90%;height: auto;}
#equip_sch .search ul li div {width: calc(100% - 105px);}

@media screen and (max-width: 370px){

.dialog table {width:130%;}
}

@media screen and (max-width: 360px) {

.m_cont .m_search ul li.date p {height: 80px;line-height: 80px;}
.m_cont .m_search ul li.date div {width: calc(70% - 10px);float: right;margin-right: 0;}

}

